@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration</h2>

<div class="row">    
    <div class="col-md-4">
        <h2>Employee Login</h2>
        <p>Registration Successful</p>
        <p>You can Login here</p>
        <p><a class="btn btn-default" href="@Url.Action("LoginPage", "Login")">Login &raquo;</a></p>
    </div>
</div>


