@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Error";
}

<p>Something went wrong. Please try again.</p>


<div>
    @Html.ActionLink("Back to Login", "LoginPage", "Login")
</div>